@model TSSedaplanifica.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}
@if (TempData["AlertMessage"] != null)
{
    if(!TempData["AlertMessage"].ToString().Contains("borrado"))
    {
        <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <h5>Elementos</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MeasureUnit.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MeasureUnit.Name)
                    </dd>
                </dl>


                <div>
                    <a asp-action="Index" class="btn btn-sm btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="card mt-2">
                                <div class="card-header text-danger">
                                    <i class="fa fa-object-group"></i>  <strong>Categoría</strong>
                                </div>
                                <div class="card-body">
                                    <div id="view-all">
                                        @await Html.PartialAsync("_ViewAllCategories", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}