@model TSSedaplanifica.Models.SchoolDetailsViewModel

@{
    ViewData["Title"] = "Detalles";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Detalle nstitución educativa</h5>
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DaneCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DaneCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone.Name)
        </dd>                    </dl>
                </div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn bn-sm btn-warning"><i class="bi bi-pencil-fill"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="card mt-2">
                                <div class="card-header text-danger">
                                    <i class="fa fa-object-group"></i>  <strong>Sedes educativas</strong>
                                </div>
                                <div class="card-body">
                                    <div id="view-all">
                                        @await Html.PartialAsync("_SchoolAllView", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/showmodal.js"></script>
    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Schools/CoordinatorDelete/', false);
    </script>
}
